<!-- Education -->
<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <h5 class="card-header d-flex align-items-center g-font-weight-400 justify-content-between border-0 g-mb-0"
        id="modTitle"><span>Education</span></h5>
    <div class="card-block g-pl-20 g-pr-20 g-pb-30">

        <ul class="list-unstyled">

            <li class="media g-brd-bottom g-brd-gray-light-v4 g-py-10 g-px-5">
                <div class="d-flex g-mt-2 g-mr-15">

                    <img class="g-width-40 g-height-40 rounded-circle"
                        src="/assets/images/school.jpg">

                </div>
                <div class="media-body">

                    <div>
                        <h5 class="h6 g-font-weight-600"
                            style="margin-bottom: 10px;">High School - 2013</h5>

                    </div>

                    <div>
                        <div class="g-font-weight-300">MPVM Ganga Gurukulam</div>

                    </div>
                </div>
            </li>

            <li class="media g-brd-bottom g-brd-gray-light-v4 g-py-10 g-px-5">
                <div class="d-flex g-mt-2 g-mr-15">

                    <img class="g-width-40 g-height-40 rounded-circle"
                        src="/assets/images/school.jpg">

                </div>
                <div class="media-body">

                    <div>
                        <h5 class="h6 g-font-weight-600"
                            style="margin-bottom: 10px;">Intermediate - 2015</h5>

                    </div>

                    <div>
                        <div class="g-font-weight-300">MPVM Ganga Gurukulam</div>

                    </div>
                </div>
            </li>

            <li class="media g-brd-bottom g-brd-gray-light-v4 g-py-10 g-px-5">
                <div class="d-flex g-mt-2 g-mr-15">

                    <img class="g-width-40 g-height-40 rounded-circle"
                        src="/assets/images/school.jpg">

                </div>
                <div class="media-body">

                    <div>
                        <h5 class="h6 g-font-weight-600"
                            style="margin-bottom: 10px;">Bachelor of Technology (CSE) - 2020</h5>

                    </div>

                    <div>
                        <div class="g-font-weight-300">Dr. APJ Abdul Kalam Technical University</div>

                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<!-- End Education -->