<div class="container">
    <div class="row">
        <div
            class="col-md-8 align-self-center text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
                <small
                    class="d-block g-font-size-default g-mr-30 g-mb-10 g-mb-0--md">&copy;2020
                    Build with ( <a
                        href="https://developer.mozilla.org/en-US/docs/Web/HTML"
                        target="_blank">HTML</a>, <a
                        href="https://developer.mozilla.org/en-US/docs/Web/CSS"
                        target="_blank">CSS</a>, <a
                        href="https://getbootstrap.com/docs/4.5/getting-started/introduction/"
                        target="_blank">Bootstrap</a>,
                    <a href="https://angular.io/docs"
                        target="_blank">Angular</a> )</small>
                <ul class="u-list-inline">

                    <li class="list-inline-item">
                        <a [routerLink]="['/privacy']"
                            (click)="backToTop()">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a [routerLink]="['/terms']" (click)="backToTop()">Terms
                            of Use</a>
                    </li>
                    <li class="list-inline-item">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a [routerLink]="['/faq']"
                            (click)="backToTop()">FAQ's</a>
                    </li>
                    <li class="list-inline-item">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a [routerLink]="['/']"
                            (click)="backToTop()">Support</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>