<div class="container">
    <div class="row">
        <div
            class="col-md-8 align-self-center text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
                <small
                    class="d-block g-font-size-default g-mr-30 g-mb-10 g-mb-0--md">&copy;2020
                    <a href="/">Portfoliogen</a> ( CG Solutions LLC
                    )</small>
                <ul class="u-list-inline">


                    <li class="list-inline-item">
                        <a href="/about/privacy.cfm">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="/about/terms.cfm">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="/about/help.cfm">FAQ's</a>
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="/contact.cfm">Support</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>