<!-- User Content -->

<!-- Include Editor style. -->
<link
    href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css'
    rel='stylesheet' type='text/css' />

<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <h5 class="card-header d-flex align-items-center g-font-weight-400 justify-content-between border-0 g-mb-0"
        id="modTitle"><span>About Me</span></h5>
    <div class="card-block g-pl-20 g-pr-20 g-pb-30">

        <div style="padding-top: 15px;" class="fr-view">

            <img src="/assets/images/construction.gif" alt="This page is under construction">

            <!-- <p>I am excited to be working with children and really making a
                difference in their lives. I remember being so upset in class as
                a child because I did not understand what was being talked about
                in the classroom. A dedicated teacher helped me by recognizing
                my learning disability and finding ways to assist me. I owe my
                success to this amazing teacher who changed my life.</p>
            <p>Those experiences made me who I am today and I am now helping
                others. I assist children making the transition to our school
                systems here in the United States both academically and
                culturally. I love my job and am very proud to be in this
                position making a difference.</p>
            <p>I come to this profession with definite beliefs in mind in
                relation to who I will be as a successful teacher, employee, and
                member of your community. I am a teacher who most importantly
                embraces the development of a trusting environment with my
                students. In my opinion, students only open up to learning
                beyond the borders of basic requirements when trust is present.
                One of the skills I will utilize in building the before
                mentioned environment is found in the ability to communicate
                efficiently with one&rsquo;s students. I will not only provide
                educational data from the curriculum, but am a good listener
                willing to respond in kind to all ideas presented by the
                classroom community. I will also respond well to change in being
                open to learning from others in trying new approaches in lesson
                construction and delivery.</p>
            <p>I am committed to inspiring this critical exploration through
                stimulating teamwork amongst peers, being aware of different
                learning styles, teaching across subject boundaries, providing
                individualized accommodations, involving students in goal
                setting where appropriate, and being able to recognize and seize
                the moment when teachable moments occur. All of these approaches
                can be fostered through creative lesson planning. My teaching
                methodologies main objective is to inspire learning of content
                as well as developing the skills necessary for students to
                explore content and draw intelligent conclusions independently.
                I am committed to inspiring this critical exploration through
                stimulating teamwork amongst peers, being aware of different
                learning styles, teaching across subject boundaries, providing
                individualized accommodations, involving students in goal
                setting where appropriate, and being able to recognize and seize
                the moment when teachable moments occur. </p> -->
        </div>

    </div>
    
</div>