<!-- User Content -->

<!-- Include Editor style. -->
<link
    href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css'
    rel='stylesheet' type='text/css' />

<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <h5 class="card-header d-flex align-items-center g-font-weight-400 justify-content-between border-0 g-mb-0"
        id="modTitle"><span>About Me</span></h5>
    <div class="card-block g-pl-20 g-pr-20 g-pb-30">

        <div style="padding-top: 15px;" class="fr-view">

            <!-- <img src="/assets/images/construction.gif" alt="This page is under construction"> -->

            <p>I am excited to be working and coding my way into people's daily
                lives and really making a
                difference. I remember being so upset in class as
                a child because I did not understand what was being talked about
                in the classroom.</p>
            <p>All this coding was like a miracle for me until I went to
                college. While in collge, I realized coding is no miracle, it is
                mere magic. And after I got my job I came to know the reality,
                that coding is just a combination of some tricks and utter
                intelligence.</p>
            <p>Those experiences made me who I am today and I am now helping
                others. I assist my juniors at office making the transition to
                systems here. I love my job and am very proud to be in this
                position making a difference.</p>
        </div>

    </div>

</div>