<!-- Interests -->
<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <h5 class="card-header d-flex align-items-center g-font-weight-400 justify-content-between border-0 g-mb-0"
        id="modTitle"><span>Interests</span></h5>
    <div class="card-block g-pl-20 g-pr-20 g-pb-30">

        <ul class="u-list-inline">
            <li class="list-inline-item g-mb-10"><span
                    class="u-label u-label--md g-bg-gray-light-v3 g-color-main g-rounded-4 g-py-10 g-px-20">Computer
                    games</span>
            </li>
            <li class="list-inline-item g-mb-10"><span
                    class="u-label u-label--md g-bg-gray-light-v3 g-color-main g-rounded-4 g-py-10 g-px-20">Volleyball</span>
            </li>
            <li class="list-inline-item g-mb-10"><span
                    class="u-label u-label--md g-bg-gray-light-v3 g-color-main g-rounded-4 g-py-10 g-px-20">Carrom</span>
            </li>
            <li class="list-inline-item g-mb-10"><span
                    class="u-label u-label--md g-bg-gray-light-v3 g-color-main g-rounded-4 g-py-10 g-px-20">Music</span>
            </li>
        </ul>
    </div>
</div>
<!-- End Interests -->