<app-header></app-header>

<!-- Main Content Container -->
<div class="container g-pt-20">

    <!-- Row -->
    <div class="row">

        <!-- Narrow -->
        <div class="col-lg-3" id="narrow">

            <app-modal></app-modal>

            <app-profile></app-profile>

            <app-certifications></app-certifications>

            <app-education></app-education>

            <app-interests></app-interests>

        </div>
        <!--End Narrow-->

        <!-- Toast service -->
        <ng-snotify></ng-snotify>

        <!-- Wide -->
        <div class="col-lg-9" id="wide">

            <router-outlet></router-outlet>

        </div>
        <!--End Wide -->

    </div>
    <!--End Row--->
    
</div>
<!--End Container-->

<!-- Copyright Footer -->
<footer class="g-py-20">
    <app-footer></app-footer>
</footer>
<!-- End Copyright Footer -->