<!-- User Content -->

<!-- Include Editor style. -->
<link
    href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css'
    rel='stylesheet' type='text/css' />

<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <h5 class="card-header d-flex align-items-center g-font-weight-400 justify-content-between border-0 g-mb-0"
        id="modTitle"><span>Terms of use</span></h5>
    <div class="card-block g-pl-20 g-pr-20 g-pb-30">

        <div style="padding-top: 15px;" class="fr-view">
            <img src="/assets/images/construction.gif"
                alt="This page is under construction">
        </div>
    </div>
</div>