<mat-card>
    <h3 style="font-weight: bold;">What can I offer?</h3>
</mat-card>

<div class="offer row">

    <mat-card class="example-card col-md-6 col-xs-12 top-margin">
        <mat-card-header>
            <mat-card-title>Angular Application</mat-card-title>
            <mat-card-subtitle>Frontend framework</mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="assets/images/angular.png"
            style="background-color: black;" alt="Angular">
        <mat-card-content>
            <p>
                Angular (commonly referred to as "Angular 2+" or
                "Angular v2
                and above" is a TypeScript-based open-source web
                application framework led by the Angular Team at Google
                and
                by a community of individuals and corporations. Angular
                is a
                complete rewrite from the same team that built
                AngularJS.
            </p>
        </mat-card-content>
        <!-- <mat-card-actions> -->
        <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
    </mat-card>

    <mat-card class="example-card col-md-6 col-xs-12 top-margin">
        <mat-card-header>
            <mat-card-title>NodeJS</mat-card-title>
            <mat-card-subtitle>Runtime environment for Javascript
            </mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="assets/images/node.png"
            style="background-color: black;" alt="NodeJS">
        <mat-card-content>
            <p>
                Node.js is an open-source, cross-platform, JavaScript
                runtime environment that executes JavaScript code
                outside a
                web browser. Node.js lets developers use JavaScript to
                write
                command line tools and for server-side scripting—running
                scripts server-side to produce dynamic web page content
                before the page is sent to the user's web browser.
            </p>
        </mat-card-content>
        <!-- <mat-card-actions> -->
        <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
    </mat-card>

    <mat-card class="example-card col-md-6 col-xs-12 top-margin">
        <mat-card-header>
            <mat-card-title>MongoDB</mat-card-title>
            <mat-card-subtitle>NoSQL based database
            </mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="assets/images/mongo.png"
            style="background-color: black;" alt="Mongodb">
        <mat-card-content>
            <p>
                MongoDB is a cross-platform document-oriented database
                program. Classified as a NoSQL database program, MongoDB
                uses JSON-like documents with optional schemas. MongoDB
                is developed by MongoDB Inc. and licensed under the
                Server Side Public License (SSPL).
            </p>
        </mat-card-content>
        <!-- <mat-card-actions> -->
        <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
    </mat-card>

    <mat-card class="example-card col-md-6 col-xs-12 top-margin">
        <mat-card-header>
            <mat-card-title>Web app</mat-card-title>
            <mat-card-subtitle>Application for web browsers
            </mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="assets/images/webapp.jpg"
            alt="Web app">
        <mat-card-content>
            <p>
                A web application (or web app) is an application
                software that runs on a web server, unlike
                computer-based software programs that are stored locally
                on the Operating System (OS) of the device. Web
                applications are accessed by the user through a web
                browser with an active internet connection.
            </p>
        </mat-card-content>
        <!-- <mat-card-actions> -->
        <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
    </mat-card>

    <mat-card class="example-card col-md-6 col-xs-12 top-margin">
        <mat-card-header>
            <mat-card-title>Hybrid app</mat-card-title>
            <mat-card-subtitle>Application for mobile devices
            </mat-card-subtitle>
        </mat-card-header>
        <img class="image" mat-card-image src="assets/images/hybridapp.png"
            style="background-color: black;" alt="Hybrid app">
        <mat-card-content>
            <p>
                Hybrid applications are web applications (or web pages)
                in the native browser, such as UIWebView in iOS and
                WebView in Android (not Safari or Chrome). Hybrid apps
                are developed using HTML, CSS and Javascript, and then
                wrapped in a native application using platforms like
                Cordova. This allows you to use any web-native framework
                you want, and there are plenty of these
            </p>
        </mat-card-content>
        <!-- <mat-card-actions> -->
        <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
        <!-- </mat-card-actions> -->
    </mat-card>

</div>