<!-- User Content -->

<!-- Include Editor style. -->
<link
    href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css'
    rel='stylesheet' type='text/css' />

<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <h5 class="card-header d-flex align-items-center g-font-weight-400 justify-content-between border-0 g-mb-0"
        id="modTitle"><span>Resume</span></h5>
    <div class="card-block g-pl-20 g-pr-20 g-pb-30">

        <div style="padding-top: 15px;" class="fr-view">
            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt; color: #993300;"><strong
                        style="line-height: 1.5em;">WORK
                        EXPERIENCE</strong></span></p>
            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong
                        style="line-height: 1.5em;">Jr. Associate IT - Daffodil
                        Softwares, Gurgaon.</strong></span><br /><span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><em
                        style="line-height: 1.5em;">October 2019 -
                        Present</em></span></p>
            <ul
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; list-style-type: none; padding-inline-start: 20px;">
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-briefcase" aria-hidden="true"></i> My
                        first project here is UMANG</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-briefcase" aria-hidden="true"></i> We
                        have got the job for frontend of Umang</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-briefcase" aria-hidden="true"></i> It
                        is a government project - Unified Mobile Application for
                        New-age Governance</span></li>
            </ul>

            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt; color: #993300;"><strong
                        style="line-height: 1.5em;">COLLEGE</strong></span></p>
            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong
                        style="line-height: 1.5em;">Bookstore - NITRA Technical
                        Campus, Ghaziabad.</strong></span><br /><span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><em
                        style="line-height: 1.5em;">February 2019 - August
                        2019</em></span></p>
            <ul
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; list-style-type: none; padding-inline-start: 20px;">
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-book" aria-hidden="true"></i> It
                        was a web application like OLX but only limited to
                        books,
                        used or new.</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-book" aria-hidden="true"></i> It
                        used technologies like JSP, servlet, HTML/CSS,
                        maven.</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-book" aria-hidden="true"></i> It
                        used MySql database and Apache Tomcat server</span></li>
            </ul>

            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><strong
                        style="line-height: 1.5em;">Quiz app - NITRA Technical
                        Campus, Ghaziabad.</strong></span><br /><span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><em
                        style="line-height: 1.5em;">July 2018 - November
                        2018</em></span></p>
            <ul
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; list-style-type: none; padding-inline-start: 20px;">
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-question-circle"
                            aria-hidden="true"></i> An
                        application, where a teacher or professor can set up a
                        question paper</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-question-circle"
                            aria-hidden="true"></i> Students
                        can attend those papers, and later review there
                        performances.</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-question-circle"
                            aria-hidden="true"></i> Once
                        an exam is taken, that question paper is made available
                        to general public</span></li>
            </ul>

            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt; color: #993300;"><strong
                        style="line-height: 1.5em;">TECHNOLOGIES</strong></span>
            </p>

            <ul
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; list-style-type: none; padding-inline-start: 20px;">
                <li
                    style="line-height: 1.5em; display: flex; flex-direction: row; justify-content: space-between;">
                    <span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-check-circle" aria-hidden="true"></i>
                        Angular
                        2+</span>
                    <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                </li>
                <li
                    style="line-height: 1.5em; display: flex; flex-direction: row; justify-content: space-between;">
                    <span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-check-circle" aria-hidden="true"></i>
                        NodeJS</span>
                    <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                </li>
                <li
                    style="line-height: 1.5em; display: flex; flex-direction: row; justify-content: space-between;">
                    <span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-check-circle" aria-hidden="true"></i>
                        Java</span>
                    <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                </li>
                <li
                    style="line-height: 1.5em; display: flex; flex-direction: row; justify-content: space-between;">
                    <span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-check-circle" aria-hidden="true"></i>
                        C</span>
                    <span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>

            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt; color: #993300;"><strong
                        style="line-height: 1.5em;">SPORTS</strong></span></p>

            <ul
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; list-style-type: none; padding-inline-start: 20px;">
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-trophy" aria-hidden="true"></i> Gold
                        medal winner in volleyball at college sports fest</span>
                </li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-trophy" aria-hidden="true"></i>
                        Participated
                        in AKTU zonal sports fest</span>
                </li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-trophy" aria-hidden="true"></i> Silver
                        medal winner in footbal at college sports fest</span>
                </li>
            </ul>

            <p
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                <span
                    style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt; color: #993300;"><strong
                        style="line-height: 1.5em;">VOLUNTEERISM AND
                        LEADERSHIP</strong></span></p>

            <ul
                style="line-height: 24px; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; list-style-type: none; padding-inline-start: 20px;">
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-shield" aria-hidden="true"></i>
                        Volunteered
                        for college sports fest</span></li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-shield" aria-hidden="true"></i>
                        Represented
                        as team leader in Smart India Hackathon - 2018</span>
                </li>
                <li style="line-height: 1.5em;"><span
                        style="line-height: 1.5em; font-family: verdana, geneva, sans-serif; font-size: 12pt;"><i
                            class="fa fa-shield" aria-hidden="true"></i>
                        Volunteered
                        for college tech fest</span></li>
            </ul>

        </div>


    </div>
</div>