<!-- Profile -->
<div class="card border-0 u-shadow-v1-4 g-rounded-6 g-mb-30">
    <div class="card-block g-pl-20 g-pr-20 g-pb-20 g-pt-20 text-center">

        <!-- User Image -->
        <a href="/assets/images/profile.jpeg" target="_blank"><img
                style="width: 11rem; margin-top:-40px;"
                class="profile-picture rounded-circle"
                src="/assets/images/profile.jpeg" /></a>

        <h2 class="text-muted h5 font-weight-bold mt-3 mb-1">
            UTKARSH SRIVASTAVA
        </h2>

        <div class="g-mt-10" style="text-align:center;">

            <a href="#" data-target="#myContactModal" data-modal-effect="fadein"
                data-toggle="modal"
                class="btn btn-block btn-md btn-light g-mb-10"
                style="cursor:pointer;">Contact Utkarsh</a>

            <a class="u-icon-v1 g-bg-twitter g-rounded-3 g-color-white g-color-white--hover g-mr-2"
                target="_blank" title="Linkedin"
                href="https://www.linkedin.com/in/utkarsh-srivastava-352836167/"
                target="_blank"><i class="fa fa-linkedin-square"></i></a>

            <a class="u-icon-v1 g-bg-instagram g-rounded-3 g-color-white g-color-white--hover g-mr-2"
                target="_blank" title="Instagram"
                href="https://www.instagram.com/utkarsh.utt/" target="_blank"><i
                    class="fab fa-instagram"></i></a>

            <a class="u-icon-v1 g-bg-pinterest g-rounded-3 g-color-white g-color-white--hover g-mr-2"
                target="_blank" title="Email"
                href="mailto:utkarshutt2706@gmail.com"><i
                    class="fa fa-envelope"></i></a>

        </div>
    </div>
</div>
<!-- End Profile -->